# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ---- PyCharm / IntelliJ IDEA ----
# Project settings
.idea/

# ---- OS-specific ----
# macOS
.DS_Store
# Windows
Thumbs.db
